.stock-details {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--first);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  transition: all 0.3s;
  transform: translateX(100%);
  z-index: 999;
}

.stock-details .st-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 0;
}

.details-open {
  transform: translateY(0);
}

.company-stock-info {
  border-radius: 0;
  display: grid;
  grid-template-columns: 1fr auto;
}

.company-stock-info div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3px;
}

.company-details {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;
}

.company-details .image-cont {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--base);
}

.company-details .image-cont img {
  border-radius: 50%;
}

.info-cont {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  padding: 10px;
}

.info-para {
  text-align: justify;
  line-height: 25px;
}

@media (min-width: 700px) {
  .stock-details {
    align-items: start;
  }

  .company-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
  }
}
